/* Common elements */
body {
    font-size: 75%;
    font-family: Tahoma, Geneva, sans-serif;
    background: repeating-linear-gradient(
        to bottom,
        darkseagreen 0px,
        darkseagreen 40px,
        darkgreen 40px,
        darkgreen 80px
            );
    padding: 0;
    margin: 0;
}

    h1 {
        color: darkgreen;
        font-size: 2.0em;
        margin: 0.5em 0 0.5em 0;
        padding: 0;
    }

    .h1shop {
        color: darkgreen;
        font-size: 2.0em;
        margin: 0.5em 0 0.5em 0;
        padding: 0;
        float: right;
    }


    h2 {
        color: #745b2f;
        font-size: 1.7em;
        padding: 0px;
        margin: 0.5em 0 0.35em 0;

    }

    p {
        font-size: 1.2 em;
        line-height: 1.4em;
        color: black;
        padding: 0px;
        margin: 0px 0.5em 0.75em 0px;
    }

.contentWrapper {
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 2.0em;
}

.left {
    float: left;
}
.right {
    float: right;

}

div.clear {
    clear:both;
    font-size: 1%;
}

/* Header */

header {
    padding: 3em 0 0.5em 3em;
    margin: 0 0 2.0em;
    background: #411409;
}

header h1 {
    font-family: 'Luckiest Guy', cursive, sans-serif;
    color: #2BA967;
    font-size: 6em;
    letter-spacing: .025em;
    margin: 0;
    
}

header h2 {
        font-weight: 300;
        font-size: 3.8em;
        color: #2BA967;
        margin: -0.4em 0 0 1.0em;
        text-transform: uppercase;
        letter-spacing: 0.05em;
}
/* Nav Bars */

nav {
    color: #000;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li {
    display: inline-block;
    margin: 0;
}

nav li a, nav li a:visited {
    text-decoration: none;
    color: #C64322;
    padding: 0.3em 0.6em;
}

nav li a:hover {
    color: #C64322;
    background-color: rgba(252,251,243,0.75);

}

/* the login line above the big Biskit's Snack Shack type */
nav#utilityMenu {
    width: auto;
    float: right;
    margin: -1.5em 0 0 0;
    padding: .5em .5em 3em .5em;
    background-color: #411409;
    height: 1.3em;
}

nav#utilityMenu li {
    padding: 0 0.25em 0 0.2em;
    vertical-align: middle;
}

nav#utlityMenu ul li.acctNav a, nav#utilityMenu ul li.acctNav a:visited {

    color: #fff;
    text-decoration: none;
    display: inline-block;
    height: 1.3em;
    padding: 0.5em;
    margin: -0.4em 0 0 0;
    font-size: 0.5em;
}

nav#utilityMenu ul li.acctNav a.active {
    color: #c5c34e;
}

nav#utilityMenu ul li.acctNav a:hover {
    background-color: rgba(252,251,243,0.7);
    color: #c5c34e;
}

nav#utilityMenu li a, nav#utilityMenu li a:visited {padding: 0;}
nav#utilityMenu li a:hover {background-color: transparent;}
nav#utilityMenu ul li input#search {
    vertical-align: middle;
    margin: 0 0 0 1.0em;
}

nav#utilityMenu ul li.acctNav::before, nav#utilityMenu ul li input#search::before {
    content: " • ";
    color: #FCFBE6;
}

.socialIcon {
    height: 25px;
    width: 25px;
    margin: 5px;
    
}

/* Sidebar Section */

section#sidebar {
    width: 250px;
    float: left;
    position: relative;
    display: block;
    background-color: #fff;
    margin: 1em 0 3.0em 0; 
    padding: 1.5em 0.5em 2.0em 1.5em;
    border: #999b2b solid 5px;
    border-radius: 1em
}
/* Main Section */

section #main {
    background-color: darkseagreen;
    margin: 0 0 2.0em;
    padding: 1.5em 0 2.0em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px rgb(61, 59, 59); 
}

section div.panel {
    float: right;
    position: relative;
    width: 160px;
    margin: 0 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: #fff;
    border: #ccc solid 1px;
    border-radius: 0.6em;
}

section div.panel img.candyType {
    width: 100%;
}
/* Footer */ 

footer {
    background-color: #38064e;
    height: 25px;
    font-size: 1.2 em;
    color: #fff;
    text-align: center;
    padding: 1.5em 2.0em;
}

footer ul#menuFooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;

}

footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}

footer ul li::before {
    content: " | ";
    padding-right: 0.7em;
}

footer a, footer a:visited {
    color: #fff;
    text-decoration: none;
}

footer a: hover {
    color: #fff;
    text-decoration: underline;
}

button {
    color: #38064e;
    background-color: darkseagreen;
    display: inline-block;
    margin: 0 0.75em 0 0;
    padding: 0.2em 0.5em;
    border: 1px solid #38064e;
    border-radius: 1em;
    text-transform: uppercase;
}

button:hover {
    background-color: #79ee8c;
    border: 1px solid #38064e;
}

.avatar {
    
    height: 80px;
    width: 80px;
    margin: 0;
    border: 5px solid #38064e;
    border-radius: 50%;

}
